input, textarea{
  appearance: none;
  width: 100%;
  border-radius: .3rem;
  border: solid 1px var(--input-stroke);

  padding: .75rem 1rem;
  background-color: var(--input-base);
  
  color: var(--text-body);
}

label{
  font: var(--text-body-xs);

  display: block;
  margin-bottom: .75rem;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover{
  outline: solid 1px var(--brand-light);
  /* safari brose */
  outline-offset: .1px;
}

input[type="datetime-local"]{
  position: relative;
  &::-webkit-calendar-picker-indicator{
    position: absolute;
    background: transparent;
    width: 100%;
  }
}