.radio-wrapper{
  gap: 1rem;
  margin-bottom: 1.7rem;
}

.radio-inner{
  position: relative;

  border: solid 1px var(--input-stroke);
  background-color: var(--shape-button);
  border-radius: .5rem;

  display: grid;
  justify-items: center;
  gap: .5rem;

  padding: .25rem;

  input,
  input:focus,
  input:hover{
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover{
    background-color: var(--shape-hover);
  }
  &:focus-within{
    outline: solid 1px var(--brand-light);

  }

  label{
    font: var(--text-body-sm);
  }

  img{
    width: 100%;
    object-fit: contain;
  }

}

.switch-box{
  gap: .25rem;
  padding: .30rem .25rem;
  background-color: var(--input-base);
  border: solid 1px var(--input-stroke);
  border-radius: .5rem;

  & .radio-inner{
    border: none;
    background-color: var(--input-base);

    align-items: center;
    justify-content: center;

  &:focus-within{
    outline: none;
    background-color: var(--shape-button);
  }
  }
  .formate{
    width: 1rem;
    height: 1rem;
  }
}


.color-box{
  border-radius: 50%;
  border: none;
  padding: .5rem;
  
  .color{
    div{
      width: 1.7rem;
      height: 1.7rem;
      background-color: aqua;
      border-radius: 50%;
    }

    #color-1{
      background-color: var(--brand-light);
    }

    #navy{
      background-color: #6A59FF;
    }

    #purple{
      background-color: #b259ff;
    }

    #fuschia{
      background-color: #ff59f9;
    }

    #pink{
      background-color: #ff598b;
    }

    #red{
      background-color: var(--danger);
    }

    #orange{
      background-color: #ff8b59;
    }

    #yellow{
      background-color: #ffcd59;
    }

    #lime{
      background-color: #e1ff59;
    }

    #greem{
      background-color: #59ff91;
    }

    #cyan{
      background-color: #59fff9;
    }
  }
}