@import url(fields/index.css);

form{
  margin-top: 2.5rem;
}

fieldset{
  border: none;

  display: grid;
  gap: 1rem;
}

legend{
  display: flex;
  gap: .6rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;

  font: var(--text-heading-sm);
  color: var(--text-heading);
}

.flex{
  /* display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 35rem;
  border: solid;

  & > div{
    flex: 1;
  }

  & .radio-wrapper{
    display: flex;
  } */

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));
}