.grid-cols-event{
  grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
}

.grid-cols-theme{
  grid-template-columns: repeat(auto-fit, minmax(8.5rem,1fr));
}

.grid{
  display: grid;
}

.gap-1rem{
  gap: 1rem;
}

.flex{
  display: flex;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}
